@using ERP_API.Moduls
@using System.Text
@using MudBlazor
@using Microsoft.Extensions.Logging;
@using UI_ERP.Reusable
@using MessagingToolkit.QRCode.Codec
@using System.Drawing
@inject IJSRuntime JSRuntime
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject HttpClient HttpClient
@inject ILogger<RmLabelGenerationDialog> Logger



@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public RmLabelGenerationCreateDto RmLabelGeneration { get; set; }
    [Parameter] public RmLabelGenerationReadOnlyDto RmLabelGenerations { get; set; }

    [Parameter] public List<ItemReadOnlyDto> Items { get; set; } = new List<ItemReadOnlyDto>();
    [Parameter] public List<VendorReadOnlyDto> Vendors { get; set; } = new List<VendorReadOnlyDto>();
    private MudForm form = new MudForm();
    [Parameter] public bool isViewMode { get; set; }
    [Parameter] public bool isEditMode { get; set; }

    private void Close() => MudDialog.Cancel();
    private async Task Submit()
    {
        try
        {
            if (form == null)
            {
                Snackbar.Add("Form is not initialized", Severity.Error);
                return;
            }

            await form.Validate();

            if (form.IsValid)
            {
                MudDialog?.Close(DialogResult.Ok(true));
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"An error occurred: {ex.Message}", Severity.Error);
        }
    }

    private async Task<IEnumerable<int?>> FilterVendorNames(string value)
    {

        await Task.Delay(5);

        if (string.IsNullOrEmpty(value))
            return Vendors
            .OrderBy(i => i.VendName, StringComparer.OrdinalIgnoreCase)
            .Select(i => (int?)i.VendId);



        return Vendors
        .Where(i => i.VendName != null && i.VendName.Contains(value, StringComparison.InvariantCultureIgnoreCase))
        .OrderBy(i => i.VendName, StringComparer.OrdinalIgnoreCase)
        .Select(i => (int?)i.VendId);
    }
    private string GenerateQRCode(int? slNo)
    {
        string QRStr = $"{GetItemCode(RmLabelGeneration.ItemId)},{slNo},{GetItemName(RmLabelGeneration.ItemId)},{RmLabelGeneration.InvNo},{RmLabelGeneration.InvDate:dd/MM/yyyy HH:mm tt},,{GetItemCode(RmLabelGeneration.ItemId)},{RmLabelGeneration.BatchNo}";
        QRStr = QRStr.Trim().TrimEnd(',');
        QRCodeEncoder enc = new QRCodeEncoder();
        enc.QRCodeScale = 4; // Adjust scale as needed
        Bitmap qrcode = enc.Encode(QRStr);

        // Convert Bitmap to base64 string
        using (MemoryStream ms = new MemoryStream())
        {
            qrcode.Save(ms, System.Drawing.Imaging.ImageFormat.Png);
            byte[] byteImage = ms.ToArray();
            string imageData = $"data:image/png;base64,{Convert.ToBase64String(byteImage)}";
            qrCodeImageData = imageData; // Update the class-level variable
            return imageData; // Return the image data
        }
    }

    private async Task PrintRmLabel()
    {
        try
        {
            var rmTemplate = await File.ReadAllTextAsync("wwwroot/rmPrintLabel.html");
            var htmlBuilder = new StringBuilder();

            // Use default value 1 if NoOfLabels is null
            int numberOfLabels = RmLabelGeneration.NoOfBags ?? 1;

            // Generate labels based on the number of labels
            for (int i = 0; i < numberOfLabels; i++)
            {
                var challanHtml = rmTemplate
                    .Replace("{QR_CODE}", GenerateQRCode(i + 1))
                    .Replace("{COMPANY_NAME}", RmLabelGeneration.CompanyName)
                    .Replace("{Item_Code}", GetItemCode(RmLabelGeneration.ItemId))
                    .Replace("{Item_Name}", GetItemName(RmLabelGeneration.ItemId))
                    .Replace("{NoOfBags}", RmLabelGeneration.NoOfBags?.ToString("F2") ?? string.Empty)
                    .Replace("{BatchNo}", RmLabelGeneration.BatchNo)
                    .Replace("{InvNo}", RmLabelGeneration.InvNo)
                    .Replace("{InvDate}", RmLabelGeneration.InvDate?.ToString("dd/MM/yyyy") ?? "")
                    .Replace("{Supplier_Name}", GetVendorName(RmLabelGeneration.VendorId))
                    .Replace("{Supplier_Code}", GetVendorCode(RmLabelGeneration.VendorId));

                htmlBuilder.Append(challanHtml);
            }

            await JSRuntime.InvokeVoidAsync("printLabels", htmlBuilder.ToString());
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "An error occurred while generating the Rm Label print.");
            await DialogService.ShowMessageBox("Error", $"An error occurred: {ex.Message}", yesText: "Ok");
        }
    }

    //     private async Task PrintLabelsAndQRCodes()
    // {
    // }

    private string GetVendorName(int? vendId)
    {
        var item = Vendors.FirstOrDefault(i => i.VendId == vendId);
        return item?.VendName ?? string.Empty;
    }
    private string qrCodeImageData = string.Empty;

    private async Task<IEnumerable<int?>> FilterVendorCodes(string value)
    {

        await Task.Delay(5);


        if (string.IsNullOrEmpty(value))
            return Vendors
            .OrderBy(i => i.VendCode, StringComparer.OrdinalIgnoreCase) 
            .Select(i => (int?)i.VendId);



        return Vendors
        .Where(i => i.VendCode != null && i.VendCode.Contains(value, StringComparison.InvariantCultureIgnoreCase))
        .OrderBy(i => i.VendCode, StringComparer.OrdinalIgnoreCase) 
        .Select(i => (int?)i.VendId);
    }

    private string GetVendorCode(int? vendId)
    {
        var item = Vendors.FirstOrDefault(i => i.VendId == vendId);
        return item?.VendCode ?? string.Empty;
    }

    private async Task<IEnumerable<int?>> FilterItemCodes(string value)
    {
        await Task.Delay(5);

        var filteredItemNames = Items;

        if (string.IsNullOrEmpty(value))
            return filteredItemNames
                .OrderBy(p => p.ItemCode, StringComparer.OrdinalIgnoreCase)
                .Select(p => (int?)p.ItemId);

        return filteredItemNames
            .Where(p => p.ItemCode != null && p.ItemCode.Contains(value, StringComparison.InvariantCultureIgnoreCase))
            .OrderBy(p => p.ItemCode, StringComparer.OrdinalIgnoreCase)
            .Select(p => (int?)p.ItemId);
    }

    private string GetItemCode(int? productId)
    {
        var filteredItemNames = Items;
        var item = filteredItemNames.FirstOrDefault(p => p.ItemId == productId);
        return item?.ItemCode ?? string.Empty;
    }


    private async Task<IEnumerable<int?>> FilterItemNames(string value)
    {
        await Task.Delay(5);

        var filteredItemNames = Items;

        if (string.IsNullOrEmpty(value))
            return filteredItemNames
                .OrderBy(p => p.ItemName, StringComparer.OrdinalIgnoreCase)
                .Select(p => (int?)p.ItemId);

        return filteredItemNames
            .Where(p => p.ItemName != null && p.ItemName.Contains(value, StringComparison.InvariantCultureIgnoreCase))
            .OrderBy(p => p.ItemName, StringComparer.OrdinalIgnoreCase)
            .Select(p => (int?)p.ItemId);
    }

    private string GetItemName(int? Id)
    {
        var filteredItemNames = Items;
        var item = filteredItemNames.FirstOrDefault(p => p.ItemId == Id);
        return item?.ItemName ?? string.Empty;
    }

    
    
}

<DialogContent Style="max-height: 630px;">
    <MudForm @ref="form">
        <div class="row mb-2">
                    <div class="row mb-2 m-1" >
                        <div class="col-md-3">
                            <MudAutocomplete T="int?"
                                             @bind-Value="@RmLabelGeneration.ItemId"
                                             SearchFunc="@FilterItemCodes"
                                             ToStringFunc="@GetItemCode"
                                             Label="Item code"
                                             Variant="Variant.Outlined"
                                     ReadOnly="isViewMode"
                                             Strict="false"
                                             Margin="Margin.Dense"
                                             Required="true"
                                             RequiredError="Vendor Name is required" />

                        </div>
                        <div class="col-md-3">
                            <MudAutocomplete T="int?"
                                             @bind-Value="@RmLabelGeneration.ItemId"
                                             SearchFunc="@FilterItemNames"
                                             ToStringFunc="@GetItemName"
                                             Label="Item Name"
                                             Variant="Variant.Outlined"
                                     ReadOnly="isViewMode"
                                             Strict="false"
                                             Margin="Margin.Dense"
                                             Required="true"
                                             RequiredError="Vendor Code is required" />
                        </div>
                        
                            <div class="col-md-3">
                            <MudTextField @bind-Value="@RmLabelGeneration.NoOfBags"
                                          Label="No Of Bags" 
                                              Variant="Variant.Outlined" 
                                              ReadOnly="isViewMode" 
                                              Margin="Margin.Dense" 
                                              />
                            </div>
                            <div class="col-md-3">
                            <MudTextField @bind-Value="@RmLabelGeneration.NextBagNo"
                                          Label="Next Bag No" 
                                              Variant="Variant.Outlined" 
                                              ReadOnly="isViewMode" 
                                              Margin="Margin.Dense" 
                                              />
                            </div>
                        <div class="col-md-3">
                            <MudTextField @bind-Value="@RmLabelGeneration.BatchNo"
                                          Label="Lot/Batch No"
                                          Variant="Variant.Outlined"
                                          ReadOnly="isViewMode"
                                          Margin="Margin.Dense" />
                        </div>
                        <div class="col-md-3">
                            <MudTextField @bind-Value="@RmLabelGeneration.InvNo"
                                          Label="Invoice No"
                                          Variant="Variant.Outlined"
                                          ReadOnly="isViewMode"
                                          Margin="Margin.Dense"
                                          Required="true"
                                          RequiredError="Invoice No is required" />
                        </div>
                        <div class="col-md-3">
                            <MudDatePicker @bind-Date="@RmLabelGeneration.InvDate"
                                           Label="Invoice Date"
                                           Variant="Variant.Outlined"
                                           ReadOnly="isViewMode"
                                           Margin="Margin.Dense"
                                           Required="true"
                                           RequiredError="Invoice Date is required" />
                        </div>
                        <div class="col-md-3">
                            <MudAutocomplete T="int?"
                                             @bind-Value="@RmLabelGeneration.VendorId"
                                             SearchFunc="@FilterVendorNames"
                                             ToStringFunc="@GetVendorName"
                                             Label="Vendor Name"
                                             Variant="Variant.Outlined"
                                     ReadOnly="isViewMode"
                                             Strict="false"
                                             Margin="Margin.Dense"
                                             Required="true"
                                             RequiredError="Vendor Name is required" />
                        </div>
                        <div class="col-md-3">
                            <MudAutocomplete T="int?"
                                             @bind-Value="@RmLabelGeneration.VendorId"
                                             SearchFunc="@FilterVendorCodes"
                                             ToStringFunc="@GetVendorCode"
                                             Label="Vendor Code"
                                             Variant="Variant.Outlined"
                                     ReadOnly="isViewMode"
                                             Strict="false"
                                             Margin="Margin.Dense"
                                             Required="true"
                                             RequiredError="Vendor Code is required" />
                        </div>

                       @*  <div class="col-md-2">
                            <MudAutocomplete @bind-bind-Value="@RmLabelGeneration.ItemCode"
                                             SearchFunc="@FilterVendorCodes"
                                             ToStringFunc="@GetVendorCode"
                                             Label="Vendor Code1"
                                             Variant="Variant.Outlined"
                                             Strict="false"
                                             Margin="Margin.Dense"
                                             Required="true"
                            RequiredError="Vendor Code is required" />
                        </div>
                         *@
                       @*  <div class="col-md-3">
                            <MudTextField @bind-Value="@RmLabelGeneration.CompanyName" Label="Company Name" Variant="Variant.Outlined" ReadOnly="isViewMode" Margin="Margin.Dense" />
                        </div> *@
                       
                       

                     

@* 
                        @if (!string.IsNullOrEmpty(qrCodeImageData))
{
    <MudImage Src="@qrCodeImageData" Alt="QR Code" Elevation="25" Class="rounded-lg" />
}
  *@                       
                    </div>
        </div>

        
    </MudForm>
</DialogContent>
<DialogActions style="text-align: end">
    <MudButton OnClick="Close" StartIcon="@Icons.Material.Filled.Close" Variant="Variant.Filled" Color="MudBlazor.Color.Error" Class="m-2">Close</MudButton>
    @if (!isViewMode)
    {
        <MudButton StartIcon="@Icons.Material.Filled.Save" Variant="Variant.Filled" Color="MudBlazor.Color.Primary" OnClick="Submit" Class="m-2">@(isEditMode ? "Update" : "Submit")</MudButton>
    }
    @if (isViewMode)
    {
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Print" Color="MudBlazor.Color.Primary" OnClick="PrintRmLabel" Class="m-2">Print</MudButton>
       
    }
</DialogActions>

<style type="text/css">
    .mud-table-head .header-centered th {
        text-align: center;
        font-size: 1.2em;
    }
</style>


